scikit-learn
tensorboardx
vtk
trimesh
argparse
torch 
numpy
networkit
loguru
nibabel
numpy 
meshio
matplotlib
networkx
tqdm
colorspacious
pygal
plotly
torch-geometric 
torch-cluster
torch-scatter
torch-scatter
vedo
dill